.workshop-container {
    color: #ffffff;
    margin: 0 auto;
    width: 75%;
}

.workshop-title {
    color: #AD64F7;
}

.workshop-section {
    margin: 6.25rem 0;
}

.about-workshop,
.abstract-submission {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.about-workshop-content,
.abstract-submission-content {
    font-size: large;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.workshop-buttons {
    display: flex;
    flex-direction: column;
    
}

.workshop-buttons button {
    margin-top: 2rem; 
}

.speaker-section {
    align-items: center;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.speaker-section div:nth-child(1) {
    width: 90%;
}

.speaker-section div:nth-child(2) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}


@media screen and (max-width: 500px) {
    .speaker-section {
        flex-direction: column;
    }

    .speaker-section div:nth-child(1),
    .speaker-section div:nth-child(2) {
        width: 100%;
    }
}