@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

button {
    border-radius: 50px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font: 700 1em "Nunito Sans", sans-serif;
    min-width: 200px;
    width: fit-content;
    padding: 14px 20px;
}

.gradient-button {
    background: linear-gradient(90deg, #4217ba 0%, #cba3ff 100%);
    text-align: center;
}

.outline-button {
    background-color: transparent;
    border: 2px solid #ffffff;
    opacity: 70%;
}

.solid-1-button {
    background-color: #4217bA;
}


/* .button-component:hover,
.button-component:focus {
    border: 2px solid rgba(255, 255, 255, 0.7);
    background: transparent;
} */