

.newsletter-container {
    overflow: hidden;
    padding: 4rem 1.5rem;
  }
  
  .newsletter-text {
    text-align: center;
    margin: 0 auto;
    max-width: 40rem; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .newsletter-content {
    margin: 0 auto;
    max-width: 112rem; 
    padding: 0 1.5rem;
  }
  
  .newsletter-description {
    font-size: 1.1rem; 
    line-height: 1.5; 
    color: #d1d5db; 
  }
  
  .newsletter-form {
    margin-top: 1.8rem;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 1rem; 
  }
  .newsletter-input {
    flex-grow: 0.8;
    border-radius: 0.375rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.884); 
    outline: none;
    padding: 0.87rem 0.87rem; 
    color: rgb(0, 0, 0);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 0.88rem; 
    line-height: 1.25; 
  }

  .newsletter button {
    border-radius: 0.375rem;
  }
  
@media screen and (max-width: 768px) {
    
    .newsletter-content {
        text-align: center;
    }

    .newsletter-form {
        flex-direction: column;
        align-items: center; 
    }

    .newsletter-input, 
    .newsletter-button {
        padding: 0.8rem 0.8rem; 
        max-width: 100%;
    }

    .newsletter-button {
        margin-top: 1rem;
    }
  }
