.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: absolute;
    width: inherit;
    height: 5rem;
}

.nav div {
    align-items: center;
    display: flex;
    column-gap: 2rem;
    height: 100%;
}

.logo {
    height: 100%;
    cursor: pointer;
}