.Question-Container {
    border-radius: 15px;
    padding: 32px;
    margin: 10px 0;
    width: 1065px;
    height: fit-content;
    background: #13124f;
    overflow: hidden;
}

.Question-Button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
    text-align: left;
}

.Question-Text {
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    color: #ffffff;
}

.Wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.35s ease-out;
}

.Wrapper.Open {
    grid-template-rows: 1fr;
  }

.Answer-Container {
    overflow: hidden;
}

.Answer-Text {
    padding-top: 20px;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
}

