.testimonial-container {
    border-radius: 20px;
    padding: 32px;
    width: 309px;
    height: 322px;
    background: #13124f;
    font-family: "Nunito Sans", sans-serif;;
    font-size: 1rem;
    line-height: 150%;
    text-align: justify;
    color: #ffffff;

}

.profile-container {
    display: flex;
    text-align: left;
}

.profile-name {
    font-family:  "Lexend", sans-serif;;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: capitalize;
    text-align: justify;
}

.profile-position {
    font-size: 1rem;
}